#shape {
  z-index: 500 !important;
  display: block;
  width: 100%;
  position: absolute;
}
svg {
  width: 100%;
  display: block;
}
#bg-sticky {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1000 !important;
}
#about {
  background: url("../img/polka-dot.svg");
  background-repeat: repeat;
  background-attachment: fixed;
}
#team {
  background-color: #fdd147;
}
#contact {
  background-color: #fdd147;
}
.brand-logo {
  width: 120px;
}
.side-collapse ul li,
.side-collapse .social-logos {
  width: 240px;
}
.social-logos img {
  max-width: 40px;
  margin-right: 0.5em;
  float: left;
}
.made-in-nyc {
  display: block;
  float: left;
  clear: both;
}
.made-in-nyc img {
  width: 62px;
  height: 62px;
}
.navbar-header {
  float: none;
}
.navbar-left,
.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none !important;
}
.navbar-nav {
  float: none !important;
  margin-top: 7.5px;
}
.navbar-nav > li {
  float: none;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in {
  display: block !important;
}
.side-collapse-container {
  width: 100%;
  position: relative;
  left: 0;
  transition: left .4s;
}
.side-collapse-container.out {
  left: 240px;
}
.side-collapse {
  top: 60px;
  bottom: 0;
  left: 0;
  width: 240px;
  position: fixed;
  overflow: hidden;
  transition: width .4s;
}
.side-collapse.in {
  width: 0;
}
@font-face {
  font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Apercu Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Apercu Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Apercu Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
body {
  font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #262626;
}
p {
  line-height: 1.5em;
  font-style: normal;
}
h1 {
  font-family: "Apercu Bold";
  font-size: 41px;
  font-style: normal;
  font-weight: bold;
}
h2 {
  font-family: "Apercu Bold";
  font-size: 30px;
  line-height: 1.1em;
  font-style: normal;
  font-weight: bold;
}
h3 {
  font-family: "Apercu Bold";
  font-size: 28px;
  line-height: 1.1em;
  font-style: normal;
  font-weight: bold;
}
h4 {
  font-family: "Apercu Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}
strong {
  font-weight: bold;
  font-style: normal;
}
a {
  color: #1786b9;
}
a:hover {
  text-decoration: none;
}
ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  font-size: normal;
}
.text-white {
  color: #FFF;
}
ul.navbar-yieldmo li {
  display: inline-block;
}
#rethinking {
  background-color: #fdd147;
  padding: 3em 0;
  position: relative;
}
.rethinking-img img {
  max-width: 216px;
}
#dedicated {
  background-color: #fafafa;
}
#dedicated-phone {
  margin-top: 3em;
  background-image: url('../img/dots-bg.png');
  background-repeat: repeat-x;
  background-position: center;
}
.phone-carousel {
  margin: 3em 0;
  position: relative;
}
.phone-contour {
  display: block;
  position: absolute;
  width: 220px;
  height: 384px;
  left: calc(50% - 110px);
  top: 57px;
}
#dedicated-details {
  background-color: #1786b9;
  padding: 2em 0;
  margin-top: 2em;
}
#team {
  padding-top: 4em;
}
#twitter {
  padding-top: 3em;
}
iframe#twitter-widget-0 {
  min-height: auto !important;
  overflow-y: visible;
  display: block;
}
.twitter-timeline {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.twitter-timeline {
  width: 80% !important;
}
#twitter .logo-twitter {
  width: 36px;
  margin: 0em auto 3.6em auto;
}
.twttr {
  margin-top: 1em;
  clear: both;
}
footer {
  background-color: #262626;
  color: #FFF;
  padding: 2em 0em;
}
footer a {
  color: #FFF;
}
footer a:hover {
  color: #FFF;
  text-decoration: underline;
}
footer .social-logos img {
  max-width: 40px;
  margin-right: 0.5em;
  display: inline-block;
  float: left;
}
#copyright {
  margin-top: 4em;
  font-size: 70%;
}
#copyright p {
  margin: 0;
  padding: 0;
}
.carousel-caption {
  pointer-events: none;
  top: 34%;
  left: 0;
  right: 0;
  text-shadow: none;
  text-align: left;
  color: #262626;
}
.carousel-caption h1 {
  line-height: 1.3em;
}
.my-carousel .carousel-control {
  display: block !important;
}
.carousel-control {
  width: 5%;
  text-shadow: none;
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control:hover,
.carousel-control:focus {
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-inner {
  height: auto;
  display: block;
  padding-bottom: 4em;
}
.carousel-inner > .item > img {
  min-width: 100%;
  height: auto;
}
.carousel-control .glyphicon-chevron-left {
  margin-left: -24px !important;
}
.carousel-control .glyphicon-chevron-right {
  margin-right: -24px !important;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right {
  width: 55px !important;
  height: 100px !important;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
  content: "";
}
.glyphicon-chevron-left {
  background-image: url("../img/intro-slides/arrow-prev.png");
  background-repeat: no-repeat;
  background-position: left;
}
.glyphicon-chevron-right {
  background-image: url("../img/intro-slides/arrow-next.png");
  background-repeat: no-repeat;
  background-position: right;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  margin-top: -69px;
}
.glyphicon {
  font-family: monospace;
  width: 55px;
  height: 200px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  border: none !important;
  background-color: #262626;
  width: 6px;
  height: 6px;
  max-width: 6px;
  max-height: 6px;
  margin: 5px !important;
}
.carousel-indicators .active {
  opacity: 1;
  width: 6px;
  height: 6px;
}
.carousel-indicators li {
  background-color: rgba(38, 38, 38, 0.25);
}
#carousel-publishers .carousel-control,
#carousel-advertisers .carousel-control,
#carousel-readers .carousel-control {
  display: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  #carousel-publishers .item,
  #carousel-advertisers .item,
  #carousel-readers .item {
    display: block;
    padding-bottom: 100px;
  }
  #carousel-publishers ol.carousel-indicators,
  #carousel-advertisers ol.carousel-indicators,
  #carousel-readers ol.carousel-indicators {
    display: none;
    visibility: hidden;
  }
}
