// COLORS // ----------------------------------

@black:		rgb(38,38,38);
@gray:		rgb(71,71,71);
@white:		rgb(237,237,237);
@blue:		rgb(23,134,185);
@green:		rgb(48,173,99);
@yellow: 	rgb(253,209,71);
@pink:		rgb(242, 127, 138);
@purple:	rgb(162, 92, 186);
@orange:	rgb(250, 169, 56);

@navy:		rgb(16, 101, 138);

@black-beta: 			rgba(38,38,38, 0.6);
@white-beta: 			rgba(255,255,255, 0.6);

@black-alpha: 			rgba(38,38,38, 0.25);
@hella-gray:			rgb(153,153,153);
@fafafa-gray:			rgb(250, 250, 250);
@some-gray:				rgb(178,178,178);


// TEMP // -----------------------------------
.center-block p {
	text-align: center;
}
#shape {
    z-index: 500 !important;
    display: block;
    width: 100%;
    position: absolute;   
}
svg {
    width: 100%;
    display: block;
}
#bg-sticky {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000 !important;
}
#about,
.polka {
	background: url("../img/polka-dot.svg");
    background-repeat: repeat; 
    background-attachment: fixed;
}
.btn-default {
	background-color: transparent;
	border-radius: 2px;
	border-color: @black;
	border-width: 2px;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 24px 8px 24px;
}
.btn-lg {
	font-size: 17px;
	padding: 12px 28px 11px 28px;
}
.btn-default:hover {
	background-color: transparent;
	border-color: @black-beta;
}
.btn-default a {
	color: @black;
}
.btn-default:hover a {
	color: @black-beta;
}

// TYPOGRAPHY // ------------------------------
@font-face { 
	font-family:"Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal;  
	font-stretch: normal;
} 
@font-face { 
	font-family:"Apercu Italic", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:italic; 
	font-stretch: normal;
}
@font-face { 
	font-family:"Apercu Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal; 
	font-stretch: normal;
}
@font-face { 
	font-family:"Apercu Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:600; 
	font-style:normal; 
	font-stretch: normal;
}

@font-family-sans-serif: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Georgia", "Times New Roman", serif;
@font-size-base: 16px;
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 1.90)); 
@font-size-h3: ceil((@font-size-base * 1.7)); 
@font-size-h4: ceil((@font-size-base * 1.25)); 
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 1)); 
@font-size-nav: 13px;

body {
	font-family: @font-family-sans-serif;
	font-size: @font-size-base;
	color: @black;
	//line-height: 1.5em;
}
p {
	line-height: 1.5em;
	font-style: normal;
	//font-family: @font-family-serif;
}
h1 {
	font-family: "Apercu Bold";
	font-size: @font-size-h1;
	font-style: normal;
	font-weight: bold;
}
h2 {
	font-family: "Apercu Bold";
	font-size: @font-size-h2;
	line-height: 1.1em;
	font-style: normal;
	font-weight: bold;
	
}
h3 {
	font-family: "Apercu Bold";
	font-size: @font-size-h3;
	line-height: 1.1em;
	font-style: normal;
	font-weight: bold;
}
.regular {
	font-family: "Apercu Regular";
	font-weight: normal;
}
h4 {
	font-family: "Apercu Bold";
	font-size: @font-size-h4;
	font-style: normal;
	font-weight: bold;

}
h5 {
	font-family: "Apercu Bold";
	font-size: @font-size-h5;
	font-weight: bold;
	font-style: normal;
}
h6 {
	font-size: @font-size-h6;
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
}
strong {
	font-weight: bold;
	font-style: normal;
}
a {
	color: @blue;
}
a:hover {
	text-decoration: none;
}
ul {
	text-decoration: none;
	list-style-type: none;
	padding-left: 0;
	font-size: normal;
}
.text-white {
	color: #FFF;
}
.text-yellow {
	color: @yellow;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: @black;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
	color: @black-alpha;
}
// NAVBAR // ----------------------------------
@navbar-width: 240px;
.navbar-default {
	border-bottom: none;
	background-color: #FFF;
	box-shadow: 0px 0px 3px @black-beta;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: @black;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: @gray;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	border-radius: 0px;
	margin: 20px 0 0 30px;
	padding: 0;
}
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-toggle .icon-bar {
	border-radius: 0px;
}

.brand-logo {
	width: 100px;
}
.navbar-text,
.navbar-text a,
.navbar-text li,
.navbar-text li a, {
	text-transform: uppercase;
	font-size: @font-size-nav;
	letter-spacing: 1px;
	font-family: "Apercu Bold";
	font-weight: normal;
	color: @black;
}
.navbar-text.navbar-right li.btn-default {
	background-color: @black;
	border-radius: 2px;
	border-color: transparent;
	border-width: 0px;
}
.navbar-text.navbar-right li.btn-default a {
	color: #FFF;
}
.navbar-text.navbar-right li.btn {
	padding: 6px 24px;
	margin-left: 36px;
	margin-top: -6px;
	//margin-right: 15px;
}

.side-collapse ul li,
.side-collapse .social-logos {
	width: @navbar-width;
}
.social-logos img {
	max-width: 40px;
	margin-right: 0.5em;
	//display: inline-block;
	float: left;
}
.made-in-nyc {
	display: block;
	float: left;
	clear: both;
}
.made-in-nyc img {
	width: 62px;
	height: 62px;
}
.navbar-header {
    float: none;
}
.navbar-left,
.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none !important;
}
.navbar-nav {
    float: none !important;
	margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
	display:block !important;
}
.side-collapse-container{
	width:100%;
	position:relative;
	left:0;
	transition:left .4s;
}
.side-collapse-container.out{
 	left:@navbar-width;
}
.side-collapse {
	top:60px;
	bottom:0;
	left:0;
	width:@navbar-width;
	position:fixed;
	overflow:hidden;
	transition:width .4s;
}
.side-collapse.in {
 	width:0;
}
ul.navbar-yieldmo li {
	display: inline-block;
}
#nav-login {
	margin-right: 45px;
}

// ABOUT // ------------------------------------

// RETHINKING // -------------------------------
#rethinking {
	background-color: @yellow;
	padding: 3em 0;
	position: relative;
}
.rethinking-img img {
	max-width: 216px;
}

#publishers .container,
#advertisers .container,
#readers .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

// PUBLISHERS // -------------------------------
// ADVERTISERS // ------------------------------
// READERS // ----------------------------------

// DEDICATED // --------------------------------

#dedicated {
	background-color: @fafafa-gray;
	padding-top: 5em;
}
#dedicated h3 {
	margin:0;
}
#dedicated-phone {
	margin-top: 3em;
	background-image: url('../img/dots-bg.png');
	background-repeat: repeat-x;
	background-position: center;
}
#dedicated-phone button.btn-default {
	border-color: transparent;
	color: @some-gray;
}
#dedicated-phone button.btn-default.active {
	border-color: @black;
	color: @black;
	background-color: transparent;
	box-shadow: none;
}
.phone-carousel {
	margin: 3em 0;
	position: relative;
}
@phone-screen-width: 220px;
@phone-screen-height: 384px;
.phone-contour {
	display: block;
	position: absolute;
	width: @phone-screen-width;
	height: @phone-screen-height;
	left: calc(~'50% - 110px');
	top: 57px;
}
.phone-screen {
	//position: absolute;
}
#dedicated-details {
	background-color: @yellow;
	padding: 2em 0;
	margin-top: 2em;
}

// AD FORMAT LAB // ----------------------------
#ad-format-lab {
	padding: 4em 0;
}
#ad-format-lab h3 { 
	margin: 0;
}
#ad-format-lab p { 
	margin-top: 2em;
}
.btn-afl {
	margin-top: 0.5em;
	margin-bottom: 3em;
}

// TEAM // -------------------------------------
#team {
	padding-top: 4em;
	background-color: @pink;
}

// TWITTER // ----------------------------------
#twitter {
	padding-top: 3em;
}
iframe#twitter-widget-0 {
	//margin-top: 36px !important;
	height: auto !important;
	overflow-y: visible;
	display: block;
}
.twitter-timeline {
	display: block !important;
  	margin-left: auto !important;
  	margin-right: auto !important;
}
.twitter-timeline {
	//width: 80% !important;
}
#twitter .logo-twitter {
	width: 36px;
	margin: 0em auto 3.6em auto; 
}
.twttr {
	margin-top: 1.5em;
	clear: left !important;
	margin-bottom: 3em;
}

// NEWS // -------------------------------------
#sticky {
	background-color: @black;
}
#sticky h3,
#sticky h4,
#sticky h5,
#sticky p, {
	color: #FFF;
}
#sticky h2 {
	color: @yellow;
	margin-bottom: 1em;
}
#sticky .col-md-3 img,
#sticky .col-md-5 {
	margin-top: 2em;
}
.img-sticky-bg {
	background-image: url('../img/sticky-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.img-sticky-bg img {
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
}
#sticky .btn {
	margin-top: 1em;
}
#sticky .btn-default {
	background-color: transparent;
	border-radius: 2px;
	border-color: #FFF;
	border-width: 2px;
	color: #FFF;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
}
#sticky .btn-default a {
	color: #FFF;
}
#sticky .btn-default:hover {
	background-color: transparent;
	border-color: @white;
	color: @white;
}
.container.news {
	margin-top: 100px;
}
#post-cats {
	background-color: @fafafa-gray;
}
#post-list {

}
#post-container {

}
.post-title a.current {
	color: red;
}
#contents {
	background-color: yellow;
	//min-height: 200px;
}
.all-posts {
	margin-top: 2em;
	margin-bottom: 3em;
}

// FOOTER // -----------------------------------
footer {
	background-color: @black;
	color: #FFF;
	padding: 2em 0em;
}
footer a {
	color: #FFF;
}
footer a:hover {
	color: #FFF;
	text-decoration: underline;
}
footer .social-logos img {
	max-width: 40px;
	margin-right: 0.5em;
	display: inline-block;
	float: left;
}
.legals a {
	color: @some-gray;
}
.colophon {
	margin-top: 4em;
}
#copyright p {
	margin: 0;
	padding: 0;
	font-size: 70%;
}

// CONTACT // -------------------------------
#contact {
	background-color: @yellow;
	padding-top: 3em;
	padding-bottom: 3em;
}
.contact-title h3 {
	margin: 0;
	line-height: 1.2em;
}
.contact-title {
	margin-bottom: 2em;
}
// form
.contact-form .row {
	margin-bottom: 0.5em;
}
@btn-input: 51px;
#type-of-client .wpcf7-list-item {
	display: inline-block;
	height: @btn-input;
}
#type-of-client input[type="radio"] {
	display: inline-block;
	background-color: blue;
	float: left;
	height: @btn-input;
	margin-top: 0;
	visibility: hidden
}
#type-of-client {
	height: @btn-input;
	display: block;
}
.im-a {
	margin-top: 8px;
}
.wpcf7-list-item-label {
	background-color: transparent;
	border: 2px solid transparent;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	padding: 12px 0px 11px 0px;
	width: @btn-input*2.55;
	text-align: center;
	float: left;
	display: inline-block;
	margin-top: -@btn-input;
	cursor: pointer;
	//pointer-events: none;
}
.wpcf7-form p input.wpcf7-submit,
.wpcf7-list-item-label.active{
	background-color: transparent;
	border: 2px solid @black;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	padding: 12px 0px 11px 0px;
	width: @btn-input*2.55;
	text-align: center;
}
.wpcf7-list-item.first {
	margin-left: 0;
}
.wpcf7-list-item-label {
	
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
	width: 100%;
	border: none;
}
.wpcf7-form-control-wrap input {
	border-bottom: 1px solid @black;
	background-color: transparent;
	color: @black;
	font-family: "Apercu Italic";
	font-style: italic;
	margin-top: 6px;
}
.wpcf7-form-control-wrap ::-webkit-input-placeholder {
	color: @black;
	border-bottom: 1px;
	border-color: @black;
}
.wpcf7-form-control-wrap ::-moz-placeholder {
	color: @black;
}
.wpcf7-form-control-wrap :-ms-input-placeholder {
	color: @black;
}
.wpcf7-form-control-wrap textarea {
	background-color: #FFF;
	max-height: 150px;
}
.form-message {
	margin-top: 1em;
	margin-bottom: 1em;
}
.wpcf7-form p input.wpcf7-submit {
	padding: 10px 48px;
}
.wpcf7-form p input.wpcf7-submit:hover {
	background-color: transparent;
	border-color: @black-beta;
}
.wpcf7-form p input.wpcf7-submit a {
	color: @black;
}
.wpcf7-form p input.wpcf7-submit:hover a {
	color: @black-beta;
}
// mail and phone
.text-mail-phone h5 {
	margin-bottom: 2em;
}
.mail-phone {
	margin-top: 1em;
}
.mail-phone h5 {
	margin-top: 0;
}

// *********** // ------------------------------
// *********** // ------------------------------

// OTHER PAGES // ------------------------------
@spacer: 50px;
.spacer {
	padding-top: @spacer;
}
.main-title {
	text-align: center;
	margin: 3em auto;
}
.main-title h1 {
	color: #FFF;
}

// CAREERS // ----------------------------------
#careers {
	background-color: @yellow;
}

.jobs .item { 
    display:block;
    min-height: 600px + @btn-height;
}
.jobs {
	margin: 2em auto 4em auto;
}

// TERMS // ------------------------------------
#terms {
	background-color: @green;
}
.container.terms {
	margin-bottom: 6em;
}
.container.terms h4 {
	color: @green;
	margin-top: 3em;
}
.container.terms h3 {
	margin-bottom: 1em;
}

// FAQ // --------------------------------------
#faq {
	background-color: @blue;
}
.tab-content {
	margin-bottom: 4em;
}
.tab-pane .row {
	margin-bottom: 2em;
}
.container.faq {
	min-height: 20em;
}
.nav-tabs {
	border: none;
	margin-top: 4em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}
.nav-tabs li {
	float: none;
	display: inline-block;
	width: 120px;
	//padding: 10px 24px 8px 24px;
}
.nav-tabs li a,
.nav-tabs li a:hover {
	background-color: transparent;
	border-radius: 2px;
	border: 2px solid transparent;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 24px 8px 24px;
	color: @black;
	
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	border: 2px solid @black;
	text-decoration: none;
	color: @black;
}

 .nav-tabs > li.active > a:focus {
	border: 2px solid @black;
	outline: none;
}
// *********** // ------------------------------
// *********** // ------------------------------

// CAROUSEL // ---------------------------------
#carousel-intro .item {
	margin-top: 5em;
	margin-bottom: -5em;
}
@carousel-top: 33%;
.carousel-caption {
	pointer-events: none;
	top: @carousel-top;
	text-shadow: none;
	color: @black;
	background-color: @black-alpha;
	padding: 0;
	position: relative;
	left: auto;
    right: auto;
    margin-bottom: 1em;
}
.carousel-caption h1 {
	line-height: 1.3em;
}
.my-carousel .carousel-control {
	display: block !important;
}
.carousel-control {
  width: 10%;
  text-shadow: none;
  filter: alpha(opacity=0);
  opacity: 0;
}
.carousel-control.left {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control:hover .glyphicon,
.carousel-control:focus .glyphicon {
	outline: 0;
	filter: alpha(opacity=60);
	opacity: .6;
}
.carousel-control:hover .glyphicon:hover,
.carousel-control:focus .glyphicon:focus {
  filter: alpha(opacity=1);
  opacity: 1;
}
.carousel-inner {
	height: auto;
	display: block;
	//padding-bottom: 4em;
}	
.carousel-inner > .item > img {
  min-width:100%;
  height:auto;
}
.carousel-control .glyphicon-chevron-left {
	margin-left: -40%;
}
.carousel-control .glyphicon-chevron-right {
	margin-right: -40%;
}
.glyphicon {
	background-color: @black-alpha;
	top: @carousel-top !important;
}
.glyphicon-chevron-left, 
.glyphicon-chevron-right {
	width: 100px !important;
  	height: 100px !important;
  	margin-top: 0px !important;
  	border-radius: 50%;
}
.glyphicon-chevron-left:before, 
.glyphicon-chevron-right:before {
	content: "";
}
.glyphicon-chevron-left {
	background-image: url("../img/intro-slides/arrow-prev.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.glyphicon-chevron-right {
  	background-image: url("../img/intro-slides/arrow-next.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.carousel-title {

}
.carousel-subtitle {

}

@dot: 6px;
ol.carousel-indicators {
	position: absolute;
	// bottom: 0px;
	//margin-top: 2em;
	background-color: red;
}
.carousel-indicators li, .carousel-indicators li.active {
	border: none !important;
	background-color: @black;
	width: @dot;
	height: @dot;
	max-width: @dot;
	max-height: @dot;
	margin: 5px !important;
	
}
.carousel-indicators .active {
	opacity: 1;
	width: @dot;
	height: @dot;
}
.carousel-indicators li {
	background-color: @black-alpha;
}
#carousel-publishers .carousel-control,
#carousel-advertisers .carousel-control,
#carousel-readers .carousel-control,
#carousel-dedicated .carousel-control {
	display: none;
	visibility: hidden;
}
.carousel-video {
	z-index: 15;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}


@btn-height: 42px;
@media (max-width: 767px) {
	#nav-contact {
		display: none;
		visibility: hidden;
	}
}
@media (min-width: 768px) {
    .item { 
        display:block;
        min-height: 350px + @btn-height;
    }
    #carousel-publishers .item,
    #carousel-advertisers .item,
    #carousel-readers .item { 
    	display:block;
        min-height: 450px + @btn-height;
    }
    #carousel-dedicated .item { 
    	display:block;
        min-height: 500px + @btn-height;
    }
	.item p.btn { 
    	position: absolute;
    	bottom: 0;
    }

    #carousel-publishers ol.carousel-indicators,
    #carousel-advertisers ol.carousel-indicators,
    #carousel-readers ol.carousel-indicators,
    #carousel-dedicated ol.carousel-indicators {
    	display: none;
    	visibility: hidden;
    }
}