// COLORS // ----------------------------------

@black:		rgb(38,38,38);
@gray:		rgb(71,71,71);
@white:		rgb(237,237,237);
@blue:		rgb(23,134,185);
@green:		rgb(48,173,99);
@yellow: 	rgb(253,209,71);
@pink:		rgb(242, 127, 138);
@purple:	rgb(162, 92, 186);
@orange:	rgb(250, 169, 56);

@navy:		rgb(16, 101, 138);

@black-beta: 			rgba(38,38,38, 0.6);
@white-beta: 			rgba(255,255,255, 0.6);

@black-alpha: 			rgba(38,38,38, 0.25);
@hella-gray:			rgb(153,153,153);
@fafafa-gray:			rgb(250, 250, 250);
@some-gray:				rgb(178,178,178);
@dark-gray:				rgb(71,71,71);


// GENERAL // -----------------------------------

@carousel-top: 33%;
@navbar-height: 59px;

// background colors for the carousel
.yellow {
	background-color: @yellow;
}
.purple {
	background-color: @purple;
}
.purple h1,
.purple h2,
.purple h3,
.purple h4,
.purple h5,
.purple p, {
	color: #FFF;
}
.blue {
	background-color: @blue;
}
.green {
	background-color: @green;
}
.pink {
	background-color: @pink;
}
.orange {
	background-color: @orange;
}
.white {
	background-color: #FFF;
	color: @black;
}
.center-block p {
	text-align: center;
}
#shape {
    z-index: 500 !important;
    display: block;
    width: 100%;
    position: absolute;   
}
svg {
    width: 100%;
    display: block;
}
#bg-sticky {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000 !important;
}
#about,
.polka {
	// background: url("../img/polka-dot.svg");
 //    background-repeat: repeat; 
 //    background-attachment: fixed;
}
.btn-default {
	background-color: transparent;
	border-radius: 2px;
	border-color: @black;
	border-width: 2px;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 24px 8px 24px;
}
.btn-lg {
	font-size: 17px;
	padding: 12px 28px 11px 28px;
}
.btn-default:hover {
	background-color: transparent;
	border-color: @black-beta;
}
.btn-default a {
	color: @black;
}
.btn-default:hover a {
	color: @black-beta;
}

// TYPOGRAPHY // ------------------------------
@font-face { 
	font-family:"Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal;  
	font-stretch: normal;
} 
@font-face { 
	font-family:"Apercu Italic", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:italic; 
	font-stretch: normal;
}
@font-face { 
	font-family:"Apercu Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	font-style:normal; 
	font-stretch: normal;
}
@font-face { 
	font-family:"Apercu Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-weight:600; 
	font-style:normal; 
	font-stretch: normal;
}

@font-family-sans-serif: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Georgia", "Times New Roman", serif;
@font-size-base: 15px;
@font-size-h1: floor((@font-size-base * 4));
@font-size-h2: floor((@font-size-base * 2.66667)); 
@font-size-h3: ceil((@font-size-base * 2)); 
@font-size-h4: ceil((@font-size-base * 1.66667)); 
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 1)); 
@font-size-nav: @font-size-base - 1;

body {
	font-family: @font-family-sans-serif;
	font-size: @font-size-base;
	color: @black;
}
p {
	line-height: 25px;
	font-style: normal;
	font-family: @font-family-serif;
}
h1,
h1 p {
	font-family: "Apercu Bold";
	font-size: @font-size-h1;
	line-height: 62px;
	font-style: normal;
	font-weight: bold;
}
h2,
h2 p {
	font-family: "Apercu Bold";
	font-size: @font-size-h2;
	line-height: 42px;
	font-style: normal;
	font-weight: bold;
}
h3,
h3 p {
	font-family: "Apercu Bold";
	font-size: @font-size-h3;
	line-height: 40px;
	font-style: normal;
	font-weight: bold;
}
h4,
h4 p {
	font-family: "Apercu Bold";
	font-size: @font-size-h4;
	line-height: 27px;
	font-style: normal;
	font-weight: bold;

}
h5,
h5 p {
	font-family: "Apercu Bold";
	font-size: @font-size-h5;
	line-height: 22px;
	font-weight: bold;
	font-style: normal;
}
h6 {
	font-size: @font-size-h6;
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
}
h3 em,
h3 p em {
	font-family: "Apercu Bold";
	font-style: italic;
	font-weight: bold;
}
.regular,
.regular p {
	font-family: "Apercu Regular";
	font-weight: normal;
}
strong {
	font-weight: bold;
	font-style: normal;
}
a {
	color: @blue;
}
a:hover {
	text-decoration: none;
}
ul {
	text-decoration: none;
	list-style-type: none;
	padding-left: 0;
	font-size: normal;
}
.text-white,
.text-white a {
	color: #FFF;
}
.text-yellow {
	color: @yellow;
}
.text-dark-gray,
.text-dark-gray a {
	color: @dark-gray;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: @black;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
	color: @black-alpha;
}
// NAVBAR // ----------------------------------
@button-size: 30px;
.lines-button.x.close .lines {
 
    // hide the middle line
    background: transparent;
 
    // overlay the lines by setting both their top values to 0
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: @button-size;
    }
    // rotate the lines to form the x shape
    &:before{
      transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
    }
}

.dnl-btn-toggle {
	visibility: visible;
	display: initial;
	float: left;
	border-color: transparent;
	border-radius: 0px;
	margin: 17px 0 0 30px;
	padding: 0;
	background-color: transparent;
}
@navbar-width: 300px;
.navbar-default {
	border-bottom: none;
	background-color: #FFF;
	box-shadow: 0px 0px 3px @black-beta;
}
.navbar-brand {
		// width: 100px;
		height: 26px;
		padding: 16px 0px 0px 10px;
	}
.dnl-btn-toggle .icon-bar {
	background-color: @black;
	height: 2px;	
}
.dnl-btn-toggle:hover .icon-bar {
	background-color: @gray;
}
.dnl-btn-toggle:hover {
	background-color: transparent;
}
.dnl-btn-toggle .icon-bar {
	border-radius: 0px;
}
#nav-contact {
	margin-top: 7px;
}

.brand-logo {
	width: 100px;
}
.navbar-text,
.navbar-text a,
.navbar-text li,
.navbar-text li a, {
	text-transform: uppercase;
	font-size: @font-size-nav;
	letter-spacing: 1px;
	font-family: "Apercu Bold";
	font-weight: normal;
	color: @black;
}
.navbar-text.navbar-right li.btn-default {
	background-color: @black;
	border-radius: 2px;
	border-color: transparent;
	border-width: 0px;
}
.navbar-text.navbar-right li.btn-default a {
	color: #FFF;
}
.navbar-text.navbar-right li.btn {
	padding: 6px 24px;
	//margin-left: 36px;
	margin-top: -1px;
	//margin-right: 15px;
}
.navbar-text {
	margin-bottom: 12px;
}
// hamburger
.navmenu {
	background-color: @black;
}
.navmenu-default {
	border: none;
}
.sans-serif {
	font-family: @font-family-sans-serif;
}

.menu-content {
	min-width: 200px;
	margin: 0 auto auto 30px;
	height: 100%;
}
.social-logos {
	width: auto;
}
.social-logos li {
	color: #FFF;
	font-size: 85%;
	margin-bottom: 0.5em;
}
.social-logos img {
	margin-right: 0.5em;
	float: left;
	display: inline-block;
}
@media (min-width: 768px) { 
	.menu-content {
		position: fixed;
	}
	.made-in-nyc {
		position: absolute;
		bottom: 100px;
	}
}
@media (max-width: 767px) { 
	.made-in-nyc {
		position: relative;
		bottom: 0px;
	}
}

.menu-content ul {
	margin-top: 1.5em;
}
.menu-content li {
	line-height: 28px;
}
.made-in-nyc {
	width: 62px;
	height: 62px;
}
.made-in-nyc img {
}
.navbar {
	display: none;
}
.navbar-header {
    float: none;
}
.navbar-left,
.navbar-right {
    float: none !important;
}
.dnl-btn-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none !important;
}
.navbar-nav {
    float: none !important;
	margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.navbar-yieldmo li {
	display: inline-block;
	margin-left: 14px;
}
#nav-login {
	margin-right: 45px;
}
#nav-login a {
	font-size: @font-size-nav;
}

// ABOUT // ------------------------------------
.shape-spacer {
	height: 10vh;
}
#about h3,
#about h3 p {
	margin: 0;
}
#about h4,
#about h4 p {
	font-family: "Apercu Regular";
	font-weight: normal;
	margin-bottom: 0.5em;
}
#about .carousel-inner img {
	margin-bottom: 1.5em;
}
#about .thumb {
	margin: 2em auto 3em auto;
}
.thumb img {
	margin: 0 auto;
}

// RETHINKING // -------------------------------
#rethinking {
	background-color: @yellow;
	position: relative;
}
#about-intro h1,
#about-intro h1 p {
	margin: 0;
}
.rethinking-img img {
	max-width: 210px;
	margin: 0 auto 2em auto;

}
.status {
	color: white;
}

#publishers .container,
#advertisers .container,
#readers .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

// PUBLISHERS, ADVERTISERS, READERS // --------
#publishers h3,
#publishers h3 p,
#advertisers h3,
#advertisers h3 p,
#readers h3,
#readers h3 p {
	margin: 0;
}
.col-md-offset-1-5 {
	margin-left: 12.5%;
}

// DEDICATED // --------------------------------

#dedicated {
	background-color: #FFF;
	clear: both;
	padding-top: 7em;
}
#dedicated h3 {
	margin:0;
}
#dedicated-phone {
	margin-top: 3em;
	background-image: url('../img/dots-bg.png');
	background-repeat: repeat-x;
	background-position: center;
}
#dedicated-phone button.btn-default {
	border-color: transparent;
	color: @some-gray;
}
#dedicated-phone button.btn-default.active {
	border-color: @black;
	color: @black;
	background-color: transparent;
	box-shadow: none;
}
.phone-carousel {
	margin: 3em 0;
	position: relative;
}
@phone-screen-width: 276px;
@phone-screen-height: 492px;
.phone-contour {
	display: block;
	position: absolute;
	width: @phone-screen-width;
	height: @phone-screen-height;
	left: calc(~'50% - 138px');
	top: 80px;
}
.phone-screen {
	//position: absolute;
}
#dedicated-details {
	background-color: @yellow;
	padding: 2em 0;
	margin-top: 2em;
}


// AD FORMAT LAB // ----------------------------
#ad-format-lab {
	padding: 6em 0;
}
#ad-format-lab h3,
#ad-format-lab h3 p,
#ad-format-lab h4,
#ad-format-lab h4 p { 
	margin: 0;
}
#ad-format-lab p { 
	margin-top: 2em;
}
.btn-afl {
	margin-top: 0.5em;
}
#load-more.done {
	opacity: 0.3;
	cursor: default;
}

// TEAM // -------------------------------------
#team {
	background-color: @pink;
	background-image: url('../img/yieldmo-team.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 60%;
}
#team .row {
	padding-top: 4em;
	padding-bottom: 4em;
}

// TWITTER // ----------------------------------
#twitter {
	padding-top: 3em;
}
iframe#twitter-widget-0 {
	//margin-top: 36px !important;
	height: auto !important;
	overflow-y: visible;
	display: block;
}
.twitter-timeline {
	display: block !important;
  	margin-left: auto !important;
  	margin-right: auto !important;
}
.twitter-timeline {
	//width: 80% !important;
}
#twitter .logo-twitter {
	width: 36px;
	margin: 0em auto 3.6em auto; 
}
.twttr {
	margin-top: 1.5em;
	clear: left !important;
	margin-bottom: 3em;
}
#twitter-widget-0 {
	width: 900px;
}

// NEWS // -------------------------------------
#sticky {
	background-color: @black;
}
#sticky h3,
#sticky h4,
#sticky h5,
#sticky p, {
	color: #FFF;
}
#sticky h2 {
	color: @yellow;
	margin-bottom: 1em;
}
#sticky .col-md-3 img,
#sticky .col-md-5 {
	margin-top: 2em;
}
.img-sticky-bg {
	background-image: url('../img/sticky-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.img-sticky-bg img {
	width: 300px;
	height: 300px;
	margin-top: 2em;
	margin-bottom: 2em;
	object-fit: cover; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	display: block;
    max-width: 100%;
    min-height: auto;
}
#sticky .btn {
	margin-top: 1em;
}
#sticky .btn-default {
	background-color: transparent;
	border-radius: 2px;
	border-color: #FFF;
	border-width: 2px;
	color: #FFF;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
}
#sticky .btn-default a {
	color: #FFF;
}
#sticky .btn-default:hover {
	background-color: transparent;
	border-color: @white;
	color: @white;
}
#old-news {
	margin-top: 3em;
}
#old-news .row {
	margin-top: 2em;
}
#old-news img {
	margin-bottom: 1em;
}
#old-news h5 {
	margin: 0;
	line-height: 1.4em;
}
#post-cats {
	background-color: @fafafa-gray;
}
#post-list {

}
#post-container {

}
.post-title a.current {
	color: red;
}
#contents {
	background-color: yellow;
	//min-height: 200px;
}
.all-posts {
	margin-top: 2em;
	margin-bottom: 3em;
}
.alm-btn-wrap button {
	display: block;
	margin: 2em auto;
	background-color: transparent;
	border-radius: 2px;
	border: 2px solid @black;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 24px 8px 24px;
}

// FOOTER // -----------------------------------
footer {
	background-color: @black;
	color: #FFF;
	padding: 2em 0em;
}
footer a {
	color: #FFF;
}
footer a:hover {
	color: #FFF;
	text-decoration: underline;
}
footer .social-logos img {
	max-width: 40px;
	margin-right: 0.5em;
	//display: inline-block;
	float: left;
}
footer .social-logos ul li {
	display: inline-block;
}
.legals a {
	color: @some-gray;
}
.colophon {
	margin-top: 4em;
}
#copyright p {
	margin: 0;
	padding: 0;
	font-size: 70%;
	line-height: 1.4em;
}

// CONTACT // -------------------------------
#contact {
	background-color: @yellow;
	padding-top: 3em;
	padding-bottom: 3em;
}
.contact-title h3 {
	margin: 0;
	line-height: 1.2em;
}
.contact-title {
	margin-bottom: 2em;
}
// form
.contact-form h5 { 
	line-height: 15px;
}
.contact-form .row {
	margin-bottom: 0.5em;
}
@btn-input: 51px;
#type-of-client .wpcf7-list-item {
	display: inline-block;
	height: @btn-input;
}
#type-of-client input[type="radio"] {
	display: inline-block;
	background-color: blue;
	float: left;
	height: @btn-input;
	margin-top: 0;
	visibility: hidden
}
#type-of-client {
	height: @btn-input;
	display: block;
}
.im-a {
	margin-top: 4px;
}
.wpcf7-list-item-label {
	background-color: transparent;
	border: 2px solid transparent;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 0px 11px 0px;
	width: @btn-input*2;
	text-align: center;
	float: left;
	display: inline-block;
	margin-top: -@btn-input;
	cursor: pointer;
	//pointer-events: none;
}
.wpcf7-form p input.wpcf7-submit{
	background-color: transparent;
	border: 2px solid @black;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 18px;
	padding: 16px 0px 13px 0px;
	width: @btn-input*2.5;
	text-align: center;
	margin-top: 0.5em;
}
.wpcf7-list-item-label.active{
	background-color: transparent;
	border: 2px solid @black;
	color: @black;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 14px;
	padding: 12px 0px 11px 0px;
	width: @btn-input*2;
	text-align: center;
}
.wpcf7-list-item.first {
	margin-left: 0;
}
.wpcf7-list-item-label {
	
}
.wpcf7-form-control-wrap.radio-641 {
}
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
	width: 100%;
	border: none;
}
.wpcf7-form-control-wrap input {
	border-bottom: 1px solid @black;
	background-color: transparent;
	color: @black;
	font-family: "Apercu Italic";
	font-style: italic;
	margin-top: 6px;
}
// .wpcf7-form-control-wrap input:focus {
// 	font-family: "Apercu Regular";
// 	font-style: normal;
// }
.wpcf7-form-control-wrap ::-webkit-input-placeholder {
	color: @black;
	border-bottom: 1px;
	border-color: @black;
}
.wpcf7-form-control-wrap ::-moz-placeholder {
	color: @black;
}
.wpcf7-form-control-wrap :-ms-input-placeholder {
	color: @black;
}
.wpcf7-form-control-wrap textarea {
	background-color: #FFF;
	max-height: 150px;
}
.form-message {
	//margin-top: 1em;
	margin-bottom: 1em;
}
.wpcf7-form p input.wpcf7-submit {
	//padding: 10px 48px;
}
.wpcf7-form p input.wpcf7-submit:hover {
	background-color: transparent;
	border-color: @black-beta;
}
.wpcf7-form p input.wpcf7-submit a {
	color: @black;
}
.wpcf7-form p input.wpcf7-submit:hover a {
	color: @black-beta;
}
.wpcf7-form-control option {
	margin-left: 2em;
}
//////

// select button
.styled-select.hear {
	margin-top: 0.75em;
}
.wpcf7-form .caret {
	margin-right: 10px;
	margin-top: -24px;
	float: right;
}
.styled-select {
	border: 2px solid @black;
	//overflow: hidden;
	position: relative;
	height: @btn-height;
	width: 100%;
	margin-top: -8px;
	clear: both;
    margin-bottom: 1em;
}
.styled-select select { 
	width: 100%;
	height: @btn-height;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 6px 24px 8px 24px;
  	background: transparent;
  	border: none;
    -webkit-appearance: none; // hide default down arrow in webkit

}
select:focus { 
	outline: none; 
}
@-moz-document url-prefix(){
	.styled-select select { 
		width: 110%; 
	}
}
.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}
// hide default down arrow in IE10
select::-ms-expand { 
 	display: none; 
 }
// hack to fall back in opera
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }


// mail and phone
.text-mail-phone h5 {
	margin-bottom: 2em;
}
.mail-phone {
	margin-top: 1em;
}
.mail-phone h5 {
	margin-top: 0;
}

// *********** // ------------------------------
// *********** // ------------------------------

// OTHER PAGES // ------------------------------
#spacer {
	height: @navbar-height;
}
.main-title {
	text-align: center;
	margin: 3em auto;
}
.main-title h1 {
	color: #FFF;
}

// CAREERS // ----------------------------------
#careers {
	background-color: @yellow;
}

.jobs .item { 
    display:block;
    min-height: 600px + @btn-height;
}
.jobs {
	margin: 2em auto 4em auto;
}

// TERMS // ------------------------------------
#terms {
	background-color: @green;
}
.container.terms {
	margin-bottom: 6em;
}
.container.terms h4 {
	color: @green;
	margin-top: 3em;
}
.container.terms h3 {
	margin-bottom: 1em;
}

// FAQ // --------------------------------------
#faq {
	background-color: @blue;
}
.tab-content {
	margin-bottom: 4em;
}
.tab-pane .row {
	margin-bottom: 2em;
}
.container.faq {
	min-height: 20em;
}
.nav-tabs {
	border: none;
	margin: 2em auto 5em auto;
}
.nav-tabs li {
	float: none;
	display: inline-block;
	width: 140px;
	text-align: center;
	//padding: 10px 24px 8px 24px;
}
.nav-tabs li a,
.nav-tabs li a:hover {
	background-color: transparent;
	border-radius: 2px;
	border: 2px solid transparent;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 24px 8px 24px;
	color: @black;
	
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	border: 2px solid @black;
	text-decoration: none;
	color: @black;
}
 .nav-tabs > li.active > a:focus {
	border: 2px solid @black;
	outline: none;
}

// BLOG // -------------------------------------
#blog-search {
	margin-top: 2em;
}
#blog-search img,
#blog-search form {
	display: inline-block;
}
#blog-search img {
	margin-right: 0.5em;
}
#blog-search form {
	width: 70%;
}
#blog-search form input {
	width: 100%;
	font-size: @font-size-h4;
	border: none;
}
#blog-search form input::-webkit-input-placeholder {
   color: @black;
}
#blog-search form input:-moz-placeholder { /* Firefox 18- */
   color: @black;  
}
#blog-search form input::-moz-placeholder {  /* Firefox 19+ */
   color: @black;  
}
#blog-search form input:-ms-input-placeholder {  
   color: @black;  
}
li.cat-item {
	display: inline-block;
	margin-right: 0.5em;
	background-color: transparent;
	border: 2px solid @black;
	border-radius: 2px;
	font-family: "Apercu Bold";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 10px 8px 10px;
	width: 140px;
	text-align: center;
}
li.cat-item a {
	color: @black;
}
ul.post-category {
}
.post-excerpt {
	margin-top: 1em;
}
ul.post-more {
	margin-top: 2em;
	height: 40px;
}
ul.post-more:hover {
	opacity: 0.7;
}
ul.post-more li {
	display: inline-block;
	cursor: pointer;
}
li.more-text {
	margin-left: 0.5em;
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing: 1px;
	height: 40px;
}
li.more-text a {
	color: @some-gray;
	float: left;
	margin-top: 12px;
}
li.more-img {
	margin: 0;
	padding: 0;
}
li.more-img img {
	float: left;
}

// SINGLE
.single-download-pdf,
.read-more {
	margin-top: 1em;
}
.single-download-pdf li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing: 1px;
}
.single-download-pdf li.more-text a {
	color: #FFF;
}
.wp-caption {
	margin: 3em auto;
}
.wp-caption-text {
	font-family: "Apercu Bold";
	font-weight: bold;
	text-align: center;
	margin-top: 0.5em;
}
.single-category,
.single-author {
	margin-top: 2em;
}
.single-download-pdf a {
	color: #FFF;
}
.single-author img,
.single-author ul {
	float: left;
}
.single-author ul {
	margin-left: 1em;
	margin-top: 1.1em;
	font-family: "Apercu Bold";
	font-weight: bold;
}
.single-author a {
	color: @black;
}
.single-share h4 {
	text-transform: uppercase;
	letter-spacing: 1px; 
	margin-top: 1em;
}
.single-social-logos img {
	margin-left: 0.5em;
	float: right;
}
ul.post-more li.more-text.prev {
	background: url("../img/post-previous.svg") no-repeat left top;
}
ul.post-more li.more-text.prev a {
	margin-top: 10px;
	margin-left: 50px;
}
ul.post-more li.more-text.next {
	background: url("../img/post-next.svg") no-repeat right top;
}
ul.post-more li.more-text.next a {
	margin-top: 10px;
	margin-right: 50px;
}


// *********** // ------------------------------

#loading {
    background: url('http://cdn.nirmaltv.com/images/generatorphp-thumb.gif');
    height: 64px;
    width: 64px;
    margin-top: 300px;
}

.content-wrap {
    display: none;
}


// *********** // ------------------------------

// CAROUSEL // ---------------------------------
@carousel-intro-height: calc(~'100vh - 59px');
#carousel-intro .item {
	//padding-top: @navbar-height/4;
	min-height: @carousel-intro-height;
}
#carousel-inside .item .container {
	//padding-top: calc(~'10vh');
}
#carousel-inside .item .container {
  //resize: vertical;
  overflow: auto;
}
#carousel-inside img {
	//max-height: 50vh;
	margin: 0 auto;
}
.carousel-caption {
	text-shadow: none;
	color: @black;
	position: relative;
	left: auto;
    right: auto;
    padding: 0;
    margin: 2em auto;
}
.carousel-caption h1 {
	margin: 0;
}
.my-carousel .carousel-control {
	display: block !important;
}
.carousel-control {
  width: 10%;
  text-shadow: none;
  filter: alpha(opacity=0);
  opacity: 0;
}
.carousel-control.left {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
.carousel-control .glyphicon {
	outline: 0;
	filter: alpha(opacity=0);
	opacity: 0;
}
.carousel-control:hover .glyphicon {
	outline: 0;
	filter: alpha(opacity=60);
	opacity: .6;
}
.carousel-control:hover .glyphicon:hover {
  filter: alpha(opacity=1);
  opacity: 1;
}
.carousel-control:hover .glyphicon:visited {
  filter: alpha(opacity=0);
  opacity: 0;
}

.carousel-inner {
	height: auto;
	display: block;
	//margin-top: 2em;
}	
.carousel-inner > .item > img {
	//min-width:100%;
	height:auto;
	text-align: center;
	margin: 0 auto;
}
#carousel-dedicated {
	padding-top: 2em;
}
#carousel-dedicated .carousel-inner > .item .carousel-img {
	height: 100px;
	margin-bottom: 1em;
}
#carousel-dedicated .carousel-inner > .item > img {
	min-width: initial;
	max-width:100%;
}
.carousel-control .glyphicon-chevron-left {
	margin-left: -40%;
}
.carousel-control .glyphicon-chevron-right {
	margin-right: -40%;
}
.glyphicon {
	background-color: @black-alpha;
	top: 40% !important;
}
.glyphicon-chevron-left, 
.glyphicon-chevron-right {
	width: 100px !important;
  	height: 100px !important;
  	margin-top: 0px !important;
  	border-radius: 50%;
}
.glyphicon-chevron-left:before, 
.glyphicon-chevron-right:before {
	content: "";
}
.glyphicon-chevron-left {
	background-image: url("../img/intro-slides/arrow-prev.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.glyphicon-chevron-right {
  	background-image: url("../img/intro-slides/arrow-next.svg");
  	background-repeat: no-repeat;
  	background-position: center;
}
.carousel-title {

}
.carousel-subtitle {

}

@dot: 6px;
ol.carousel-indicators {
	position: absolute;
	margin-bottom: 5%;
	//bottom: 40px;
	//margin-top: 2em;
	//background-color: red;
}
.carousel-indicators li, .carousel-indicators li.active {
	border: none !important;
	background-color: @black;
	width: @dot;
	height: @dot;
	max-width: @dot;
	max-height: @dot;
	margin: 5px !important;
	
}
.carousel-indicators .active {
	opacity: 1;
	width: @dot;
	height: @dot;
}
.carousel-indicators li {
	background-color: @black-alpha;
}
#carousel-publishers .carousel-control,
#carousel-advertisers .carousel-control,
#carousel-readers .carousel-control,
#carousel-dedicated .carousel-control {
	display: none;
	visibility: hidden;
}
.carousel-video {
	z-index: 15;
	position: absolute;
	top: @carousel-top;
	text-align: center;
	width: calc(~'100% - 30px');

}
.btn-play {
	width: 100px;
	height: 100px;
	margin: auto auto;
}
.btn-play img {
	cursor: pointer;
}
.btn-play img:hover {
	opacity: 0.9;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
  overflow: hidden;
}
.carousel-caption {
	display: initial;
	bottom: initial;
	clear: both;
}

@btn-height: 42px;
@media (max-width: 767px) {
	@font-size-base: 15px;
	@font-size-h1: floor((@font-size-base * 2.5));
	@font-size-h2: floor((@font-size-base * 2)); 
	@font-size-h3: ceil((@font-size-base * 1.66667)); 
	@font-size-h4: ceil((@font-size-base * 1.3)); 
	@font-size-h5: @font-size-base;
	@font-size-h6: ceil((@font-size-base * 1)); 
	@font-size-nav: 12px;

	body {
		font-size: @font-size-base;
	}
	p {
		line-height: 25px;
		font-family: @font-family-serif;
	}
	h1,
	h1 p {
		font-size: @font-size-h1;
		line-height: @font-size-h1*1.1;
	}
	h2,
	h2 p {
		font-size: @font-size-h2;
		line-height: 42px;
	}
	h3,
	h3 p {
		font-size: @font-size-h3;
		line-height: 40px;
	}
	h4,
	h4 p {
		font-size: @font-size-h4;
		line-height: 27px;
	}
	h5,
	h5 p {
		font-size: @font-size-h5;
		line-height: 22px;
	}
	h6 {
		font-size: @font-size-h6;
	}
	.navbar-text,
	.navbar-text a,
	.navbar-text li,
	.navbar-text li a, {
		font-size: @font-size-nav;
	}
	.carousel-caption {
		display: block;
		bottom: initial;
		clear: both;
		margin-top: 1em;
	}
	.navbar {
		min-height: initial;
	}
	.navbar-text {
		margin-top: 8px;
		margin-right: 10px;
	}
	#nav-login,
	#nav-ad-formats {
		display: none;
		visibility: hidden;
	}
	// video
	#player .video-wrapper .video {
		max-width: 100px;
	}
	iframe#player1 {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.navmenu {
		width: 250px;
	}
    .item { 
        display:block;
    }
    #carousel-publishers .item,
    #carousel-advertisers .item,
    #carousel-readers .item { 
    	display:block;
    	text-align: center;
    }
    #carousel-dedicated .item { 
    	display:block;
    }
    #carousel-publishers ol.carousel-indicators,
    #carousel-advertisers ol.carousel-indicators,
    #carousel-readers ol.carousel-indicators,
    #carousel-dedicated ol.carousel-indicators {
    	display: none;
    	visibility: hidden;
    }
}
// video modal
.modal {
	background-color: rgba(0, 0, 0, 0.9)
}
button.close {
	color: rgba(255, 255, 255, 0);
	opacity: 1;
	margin: 1em 1em 0 0;
	text-shadow: none;
	font-size: 20px;
}
button.close:hover {
	color: rgba(255, 255, 255, 0);
}
.modal-dialog {
	margin: auto auto;
}
.modal-body {
	padding: 0;
	margin: 0;
}
.modal-content {
	background-color: transparent;
	border-radius: 0;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 900px;
		height: 506px;
	}
    .modal-content iframe {
    	margin-bottom: -6px;
    	height: 506px;
    }
}
@media (max-width: 767px) {
	.modal-content {
		margin-top: 25vh;
	}
	button.close img {
		width: 75%;
	}
}
@media (max-height: 750px) and (min-width: 768px) {

	@font-size-base: 15px;
	@font-size-h1: floor((@font-size-base * 3));
	@font-size-h2: floor((@font-size-base * 2)); 
	@font-size-h3: ceil((@font-size-base * 1.66667)); 
	@font-size-h4: ceil((@font-size-base * 1.3)); 
	@font-size-h5: @font-size-base;
	@font-size-h6: ceil((@font-size-base * 1)); 
	@font-size-nav: 13px;

	body {
		font-size: @font-size-base;
	}
	p {
		line-height: 25px;
		font-family: @font-family-serif;
	}
	h1,
	h1 p {
		font-size: @font-size-h1;
		line-height: 62px;
	}
	h2,
	h2 p {
		font-size: @font-size-h2;
		line-height: 42px;
	}
	h3,
	h3 p {
		font-size: @font-size-h3;
		line-height: 40px;
	}
	h4,
	h4 p {
		font-size: @font-size-h4;
		line-height: 27px;
	}
	h5,
	h5 p {
		font-size: @font-size-h5;
		line-height: 22px;
	}
	h6 {
		font-size: @font-size-h6;
	}
	#carousel-inside .item .container .row .col-md-12 img {
		max-height: 60vh;
	}
}